.report-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FAF9F6;
}

.report-header-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 1; 
}


.back-button svg {
  margin-right: 8px; 
}
  
  
  .report-section {
    margin-top: 20px;
  }
  
  .location-inputs,
  .containerStylebottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 37.5rem; 
    margin: 0 auto;
  }
  
  .location-button {
    flex: 1;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .location-input,
  .inputField {
  width: 100%; 
  padding: 1rem; 
  font-family: Poppins; 
  border:1px solid #ccc; 
  border-radius: 8px; 
  box-sizing: border-box; 
}

.address-input{
  width: 10rem; 
  padding: 1rem; 
  font-family: Poppins; 
  border:1px solid #ccc; 
  border-radius: 8px; 
}
  
  .report-location-info{
    width: 85%;
  }
  
  
  .optional-section p {
    font-weight: bold;
    display: inline-block;
  }
  
  .optional-section p span {
    font-style: italic;
    font-weight: normal;
  }
  
  .description-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 8px;
  }
  
  .camera-icon {
    margin-right: 10px;
  }
  
  
  button:focus {
    outline: none;
  }
  
  button {
    background: none;
    border: 2px solid #ccc; 
    border-radius: 8px; 
    padding: 10px; 
    cursor: pointer;
    text-align: center;
    outline: none;
    transition: border-color 0.3s;
  }
  
  button:hover {
    border-color: #b30000; 
  }

  .report-submit-button {
    font-family: Poppins;
    font-size: 1.2rem;
    background-color: #b30000;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    flex: 0 0 45%; 
    display: block;    
    margin: 30px auto;  
    width: auto;        

  }

  .report-content-container {
    background-color: white;
    max-width: 100%;       
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;
  }
  

  .report-app-container {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;
    max-width: 100%;  
  }
  

  .section-title {
    text-align: center;
    margin-top: 20px;
  } 
  
  .section-title-last{
    text-align: center;
    margin: 0.5rem;
  }
  .report-divider {
    border: 0;
    border-top: 2px solid #666; 
    width: 90%; 
  }


  .footer-section {  
    justify-content: space-between;
    align-items: center;
    margin: 20px auto; 
    max-width: 90%; 
  }
  body, html {
    margin: 0;
    padding: 0;
    height: auto; 
  }
  

.footer-section {
  display: flex;              
  justify-content: space-between; 
  align-items: center;           
  margin: 40px auto;             
  max-width: 90%;
}


.optional-section {
  flex: 0 1 auto;                
  width: 60%;                   
  margin-right: 20px;            
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
}


.search-item {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.search-item:hover, .search-item:focus {
  background-color: #e8e8e8;
  color: #333;
}

.search-item:active {
  background-color: #d0d0d0;
}


.containerStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.iconContainerStyle {
  text-align: center;
  font-family: Poppins;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0.5rem;
}

.paragraphStyle {

  margin-top: 5px;
  font-size: 14px;
}


.error-text {
  margin: 20px;
}




