.Anonymous {
    font-family: Poppins;
    display: flex;                      
    justify-content: space-between;     
    align-items: center;                
    padding: 10px;                     
    border: 1px solid #353935;            
    border-radius: 8px;                
    margin-top: 20px;                  
    background-color: #f9f9f9;         
    width: 720px;   
    margin-bottom: 10px;               
             
}

.Anonymous button {
    font-family: Poppins;
    font-size: 14px;
    border-radius: 8px;
    padding: 10px 10px;               
    border: none;                    
    background-color: #c51717;                  
    display: inline-block;           
    width: 300px;                     
    margin-left: auto;
    margin-right: 5px;
    color: white;
}

.Anonymous button:hover{
    background-color:#9f1717;
}
