

.HomePage{
  min-width: 1000px;
}

.PageBodyHome {
  display: flex;
  height: auto;
  box-sizing: border-box;
  width: 100%;
  background-color: #FAF9F6;
  max-width: 100%;
  padding-top: 3rem;
}


.LeftSectionHome {
  flex: 0.25; 
  display: flex;
  justify-content: left;
  padding: 20px 10px;
  box-sizing: border-box;
  margin: 10px;
  border-radius: 8px;
  background-color: #E5E4E2;
}

.MiddleSectionHome {
  flex: 0.6; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #FAF9F6;
  box-sizing: border-box;
}

.RightSectionHome {
  flex: 0.4; 
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  background-color: #FAF9F6;
  box-sizing: border-box;
}

.buttonsHomePage {
  display: flex; 
  justify-content: space-evenly; 
  align-items: center; 
  width: 100%;
  padding: 1rem; 
  flex-wrap: wrap; 
  background-color: #FAF9F6
}

.buttonsHomePage button {
  flex: 1; 
  max-width: 200px; 
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #ddd;
  color: #333;
  transition: background-color 0.3s, transform 0.2s;
  margin: 0 10px; /* Dodatni razmak između gumba */
}

/* Hover efekt */
.buttonsHomePage button:hover {
  background-color: #ccc;
  transform: scale(1.05);
}

/* REPORT gumb - crven i boldan */
.report-button {
  background-color: #d32f2f !important;
  color: white !important;
  font-weight: bold !important;
}

.report-button:hover {
  background-color: #a42525 !important;
}




.AidActionItem{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  padding: 8px;
  min-width: 333px;
  margin-bottom: 23px;
}

.aid-section-name{
  max-height: 58px;


}

.AidActionItem:last-child {
  margin-bottom: 0; 
}

.AidDateName {
  display: flex;

  justify-content: space-between;
  flex-direction: row;
  align-items: center;

}

.aid-date {
  font-family: Poppins;
  font-size: 13px;
  background-color: #E5E4E2;
  border-radius: 8px;
  height: 20px;

  width: 100px;
  padding: 2px 5px;
  margin-right: 5px;
  text-align: center;

}

.Filter {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #E5E4E2;
  border: 1px solid black;
  width: 100%;
  height: 57px;
  font-size: 13px;
  font-family: Poppins;
  padding: 9px;
  border-radius: 8px;
  margin-bottom: 7px;
}

.filter-button {
  width: auto;
  height: 40px;
  border: 1px solid black;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-left: 10px;
}

/*.Report {
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  padding: 11px 8px;
  margin-bottom: 23px;
  width: auto;
  min-height: 227px;
  min-width: 300px;
  max-width: 721px;
}

.ReportDateName {
  display: flex;
  justify-content: start;
}

.report-content {
  text-align: left;
}*/

