@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.HomePage{
  min-width: 1000px;
}

.PageBodyHome {
    display: flex;
    height: auto;
    box-sizing: border-box;
    width: 100%;
    background-color: #FAF9F6;
    max-width: 100%;
  }

.LeftSectionHome {
  flex: 0.3;
  display: flex;
  justify-content: left;
  padding: 25px 10px;
  box-sizing: border-box;
  margin: 10px;
  border-radius: 8px;
  background-color: #E5E4E2;
}

.MiddleSectionHome {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #FAF9F6;
  box-sizing: border-box;
}
  
.RightSectionHome {
  flex: 0.3;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 40px 20px;
  background-color: #FAF9F6;
  box-sizing: border-box;
}



.buttonsHomePage{
  display: flex;
  background-color: #E5E4E2;
  height: 90px;
  justify-content: space-between;
  padding: 14px 16px;
  align-items: center;
}

  
.info-title {
    font-family: Poppins;
    font-size: 32px;
    text-decoration: underline;
    text-align: left;
  }



.aid-title {
  font-family: Poppins;
  font-size: 28px;
  text-align: center;
}

.information-button{
    background-color: #FFFFFF;
    padding: 10px 13px;
    border-radius: 8px;
    border: 1px solid black;
    width: 297px;
    height: 62px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 25px;
    font-weight: bold;

    
   
}

.report-button{
  background-color: #CD1434;
  color: white;
  padding: 10px 13px;
  border-radius: 8px;
  border: 3px solid #E5E4E2;
  outline: 3px solid #CD1434;
  width: 297px;
  height: 62px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 25px;
  font-weight: bold;
}

.see-map-button{
  display: flex;
  background-color: #FFFFFF;
  padding: 10px 13px;
  border-radius: 8px;
  border: 1px solid #808080;
  min-width: 150px;
  width: 212px;
  height: 44px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.AidActionItem{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  padding: 8px;
  min-width: 333px;
  margin-bottom: 23px;
}

.aid-section-name{
  max-height: 58px;

}

.AidDateName{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.aid-date{
  font-family: Poppins;
  font-size: 13px;
  background-color: #E5E4E2;
  border-radius: 8px;
  height: 20px;
  width: 100px;
  padding: 2px 5px;
  margin-right: 5px;
  text-align: center;
}

.Filter{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #E5E4E2;
  border: 1px solid black;
  width: 100%;
  height: 57px;
  font-size: 13px;
  font-family: Poppins;
  padding: 9px;
  border-radius: 8px;
  margin-bottom: 7px;
}

.filter-button{
  width: auto;
  height: 40px;
  border: 1px solid black;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-left: 10px;
 
}

.Report{
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  padding: 11px 8px;
  margin-bottom: 23px;
  width: auto;
  min-height: 227px;
  min-width: 300px;
  max-width: 721px;
}

.ReportDateName{
  display: flex;
  justify-content: start;
 

}

.report-content{
  text-align: left;
}

.header{
  display: flex;
  flex-direction: row;
  background-color: #CD1434;
  justify-content: space-between;
}

.profile-text{
  color: white;
  text-align: right;
  font-family: Poppins;
  margin: 10px;
}

