.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-size: 1.5rem; 
    font-weight: bold;
    text-align: left;
    width: 600px; 
    padding: 10px 20px;
    margin-bottom: 3px;
}

.register-form {
    width: 600px;
    padding: 20px;
    border: 2px solid #ccc; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.register-form form div {
    margin-bottom: 15px;
    width: 250px;
}

.register-form label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.register-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.separator {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding-left: 10px;
}

.separator hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #ccc;
}

.separator span {
    padding: 0 10px;
    color: #888;
    font-size: 0.9rem;
}

.create-account {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-right: 30px;
}

.create-account p {
    font-weight: 500;
}

.create-button {
    background-color:#c51717;
}
.create-button:hover{
    background-color: #9f1717;
}

.google-button{
    background-color: white;
    color: black;
    width: 270px;
    border: 1px solid #ccc;
}
