.FirstInfoFrame {
  background-color: #FAF9F6;
  padding: 15px;
  border-radius: 8px;
  height: 62vh;
  text-align: center;
  max-width: 300px;
  margin: 0 auto; 
}

.bigText{
  margin-top: 20px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.4;
}

#with, #SafeBear {
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
}

.FirstInfoFrame p {
  font-family: Poppins;
  font-size: 15px;
  color: #333;
  line-height: 1.5;
  margin: 10px 0;
}

.Line {
  width: 85%;
  height: 1px;
  background-color: #353935;
  margin: 15px auto;
  margin-top: 40px;
  margin-bottom: 40px;
}