body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.HomePageAdmin {
    min-width: 100vw;
}

.PageBodyAdmin {
    display: flex;
    flex-direction: column; 
    height: auto;
    box-sizing: border-box;
    width: 100%;
    background-color: #FAF9F6;
    justify-content: space-between;
}



.MiddleSectionAdmin {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    background-color: #FAF9F6;
}

.RightSectionHome {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin: 1%;
    background-color: #FAF9F6;
}

.buttonsHomePageAdmin {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    gap: 1rem;
}

.report-button {
    position: relative;
    padding: 1rem 2.5rem;
    margin: 1rem auto;
    border-radius: 8px;
    border: 2px solid #CD1434; 
    background-color: #CD1434; 
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.report-button:hover {
    transform: scale(1.05);
}

.see-map-button {
    padding: 0.5rem 1rem;
    margin: 1rem;
    margin-right: 15rem;
    border-radius: 8px;
    border: 1px solid #808080;
    background-color: #FFFFFF;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    align-self: flex-end; 
}

.AidActionItem {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 350px;
}

.aid-date {
    font-size: 0.8rem;
    background-color: #E5E4E2;
    border-radius: 8px;
    padding: 0.2rem 0.4rem;
    text-align: center;
}

.Filter {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #E5E4E2;
    border: 1px solid black;
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.Report {
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 700px;
}

.ReportDateName {
    display: flex;
    justify-content: start;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #CD1434;
    justify-content: space-between;
    padding: 1rem;
}

.profile-text {
    color: white;
    text-align: right;
    margin: 0.5rem;
}

@media (min-width: 768px) {
    .PageBodyAdmin {
        flex-direction: row;
    }

   

    .MiddleSectionAdmin {
        flex: 0.5;
    }

    .RightSectionHome {
        flex: 0.25;
    }

    .buttonsHomePageAdmin {
        flex-direction: row;
    }

    .see-map-button {
        width: auto;
        text-align: right;
    }
}
