.FormContainer {
  display: flex;
  justify-content: space-between; /* Razmak između Login i Register */
  align-items: center;        /* Poravnanje na vrh */
  gap: 20px;                      /* Razmak između Login i Register */
  width: 100%;
  max-width: 800px;               /* Maksimalna širina kontejnera */
  margin: 0 auto;                 /* Centriraj kontejner na stranici */
  padding: 20px; 
}

.Anonymous {
  margin-top: 20px; /* Razmak između FormContainer i Anonymous sekcije */
  text-align: center; /* Centriranje teksta unutar Anonymous komponente */
  width: 100%; /* Širina do 100% da zauzme cijelu širinu ispod formi */
}

.Separator {
  border-left: 2px solid rgb(78, 78, 81); /* Linija između Login i Register */
  height: 350px;               /* Visina separatora, prilagodite prema potrebi */
  margin: 0 20px;              /* Horizontalni razmak */
}

.Register {
  flex: 1;           /* Omogućava da obje komponente zauzimaju isti prostor */
  max-width: 300px;  /* Podesite širinu komponenti */
  padding: 20px;
  box-sizing: border-box;
  margin-left: 20px;
}

.Login {
  flex: 1;
  max-width: 300px;
  padding: 20px;
  box-sizing: border-box;
}



