.PageBody {
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px);
  box-sizing: border-box;

}


.LeftSection {
  flex: 0.35;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #DBD9D3;
  padding: 40px 20px;
}

.RightSection {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E4E2;
  padding: 40px 20px;
}

.LoginRegisterBox {
  display: flex;
  background-color: #FAF9F6;
  padding: 20px;
  border-radius: 8px;
  width: 700px;

}

/*crta izmedu login i register */
.Separator {
  border-left: 1px solid #353935;
  margin: 0 15px;
}


