/* Full-page container to set min-height */
.LoginPageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; /* Prevents overflow when content doesn't fit */
}

/* Adjust PageBody to take full remaining height */
.PageBody {
  display: flex;
  justify-content: center;
  flex: 1;
  height: auto; /* header + footer height */
  box-sizing: border-box;
}



.LeftSection {
  flex: 0.35;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
  background-color: #DBD9D3;
  overflow-y: hidden;
  box-sizing: border-box;
}

.RightSection {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #E5E4E2;
}

.LoginRegisterBox {
  display: flex;
  background-color: #FAF9F6;
  padding: 20px;
  border-radius: 8px;
  width: 700px;
  flex-shrink: 0;
}

/* Separator */
.Separator {
  border-left: 1px solid #353935;
  margin: 0 15px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .PageBody {
    flex-direction: column;
    align-items: center;
    height: auto; /* Adjust height for stacked layout */
  }

  .LeftSection, .RightSection {
    width: 100%;
    flex: none;
    padding: 20px;
  }

  .LoginRegisterBox {
    flex-direction: column;
    width: 100%; /* Full width on small screens */
  }

  .Separator {
    display: none; /* Remove separator on small screens */
  }
}
