.FormContainer {
  display: flex;
  justify-content: center;       
  align-items: flex-start;
  gap: 25px;                     
  width: 100%;
  max-width: 780px;              
  margin: 20px auto;                 
  padding: 20px; 
  background-color: #f9f9f9; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.Anonymous {
  margin-top: 20px; 
  text-align: center; 
  width: 100%; 
}

.Separator {
  border-left: 2px solid #a9aeb1; 
  height: 350px;              
  margin: 0 20px;             
}

.Register {
  flex: 1;           
  box-sizing: border-box;
  padding-bottom: 100px;
  max-width: 300px;
  padding-left: 25px;
}

.Login {
  flex: 1;
  box-sizing: border-box;
  padding-right: 20px;
}



