.Login {
    flex: 1;
    max-width: 300px;
    box-sizing: border-box;
}

label{
    display: block;
    margin-bottom: 3px;
}

.FormRow {
    margin-bottom: 15px; 
    width: 100%;
}

.FormRow input {
    width: 100%; 
    padding: 3px; 
    box-sizing: border-box; 
}

.PasswordRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ForgotPassword {
    color: #8b9094; 
    text-decoration: none;
    font-size: 0.9em;
}

.ForgotPassword:hover {
    text-decoration: underline;
    color: black;
}

button {
    width: 100%; 
    padding: 7px; 
    font-size: 1em; 
    background-color: #a9aeb1; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.2s;
    margin-top: 8px;
    border-radius: 3px;
    border: none;
}

button:hover {
    background-color: #c51717; 
}

.separator{
    padding-top: 8px;
    color: #8b9094;
}