.Login {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

label{
    display: block;
    margin-bottom: 3px;
}

.FormRow {
    margin-bottom: 15px; 
    width: 100%;
}

.FormRow input {
    width: 100%; /* Polje za unos koristi cijelu širinu unutar FormRow */
    padding: 3px; /* Dodaje padding za veću visinu polja */
    box-sizing: border-box; /* Osigurava da padding ne prelazi zadanu širinu */
}

.PasswordRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ForgotPassword {
    color: #8b9094; 
    text-decoration: none;
    font-size: 0.9em;
}

.ForgotPassword:hover {
    text-decoration: underline;
    color: black;
}

button {
    width: 100%; 
    padding: 4px; 
    font-size: 1em; /* Veći font za bolju čitljivost */
    background-color: #a9aeb1; /* Boja pozadine gumba */
    color: white; /* Boja teksta gumba */
    cursor: pointer; /* Promjena kursora na rukicu */
    transition: background-color 0.2s; /* Efekt prelaska za promjenu boje */
    margin-top: 8px;
    border-radius: 3px;
    border-color: black;
}

button:hover {
    background-color: #c51717; 
}