.Anonymous {
    display: flex;                      
    justify-content: space-between;     
    align-items: center;                
    padding: 10px;                     
    border: 1px solid #ccc;            
    border-radius: 5px;                
    margin-top: 20px;                  
    background-color: #f9f9f9;         
    max-width: 800px;                  
    width: 100%;                       
    margin-left: auto;                 
    margin-right: auto;                
}


.Anonymous button {
    padding: 5px 10px;               /* Manji unutarnji razmak unutar gumba */
    border: none;                    /* Uklanja granicu */
    border-radius: 5px;              /* Zaobljeni kutovi za gumb */
    background-color:rgb(78, 78, 81); 
    color: white;                    /* Bijela boja teksta na gumbu */
    display: inline-block;           /* Postavljanje gumba kao inline-block za bolju kontrolu širine */
    width: 300px;                     /* Automatska širina gumba */
    margin-left: auto;
    margin-right: 5px;
}

.Anonymous button:hover{
    background-color: #c51717;
}
