body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.HomePageAdmin {
    min-width: 100vw;
}

.PageBodyAdmin {
    display: flex;
    flex-direction: row; 
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    background-color: #FAF9F6;
    justify-content: space-between;
}



.UserSectionAdmin{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px;
}

.UsersAdmin{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px;
}

.buttonsHomePageAdmin {
    font-family: Poppins;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.see-map-button-admin {
    font-family: Poppins;
    padding: 0.5rem 1rem;
    margin: 1rem;
    margin-right: 3rem;
    border-radius: 8px;
    border: 1px solid #808080;
    background-color: #FFFFFF;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.edit-users {
    font-family: Poppins;
    padding: 0.5rem 1rem;
    margin: 1rem;
    margin-right: 3rem;
    border-radius: 8px;
    border: 1px solid #808080;
    background-color: #FFFFFF;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.Report {
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 700px;
}

.ReportDateName {
    display: flex;
    justify-content: start;
}



.profile-text {
    color: white;
    text-align: right;
    margin: 0.5rem;
}


.ReportsAdmin{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}


.searchAndEdit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-button, .clear-search-button{
    margin-left: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    font-family: Poppins;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.inputbox{
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.2rem;
}
.UsersAdmin{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
