
.PageBodyHomeReportOpen {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background-color: #FAF9F6;
  overflow-x: hidden;
  height: 85vh;
  justify-content: center;
}

.ReportDetails {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  width: 90%;
  min-height: 70%; /* Umesto fiksne visine */
  padding: 1rem;
  margin-top: 1rem;
}

.ReportAndDescription{
  display: flex;
  flex-direction: column;

}

.ReportDateName {
  display: flex;
  justify-content: start;
}

.ReportImages{
  display: flex;
  flex-direction: row;
  margin: 30px;
  flex-wrap: nowrap;
}

.report-image{
  display: flex;
  width: 20px;
  height: 100%;
  margin: 30px;
  flex-wrap: nowrap;
}

.report-content {
  text-align: left;
}


.profile-text {
  color: white;
  text-align: right;
  font-family: Poppins;
  margin: 10px;
}

.BackReportOpen{
  display: flex;
  flex-direction: row;
  background-color: #FAF9F6;
}

.adminStatus {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  height: 100%; 
  max-height: 100%; 
}

.changeStatus{
  margin-top: -0.2rem;
}

